{% extends 'bases/home_base.html' %}

{% block content %}
<section class="fdb-block" style="background-image: url(./imgs/shapes/1.svg)">
    <div class="container">
        <div class="row text-center">
        <div class="col">
            <h1 class="text-dark">Category</h1>
        </div>
        </div>
    
        <div class="row mt-5 align-items-center">
        <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center">
            <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 rounded">
            <h2>Hobby</h2>
               
            <p class="h3 font-weight-light">Even the all-powerful Pointing has no control about.</p>
    
                
    
            <p><a href="https://www.froala.com" class="btn btn-outline-primary mt-4">Voir</a></p>
            </div>
        </div>
    
        <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
            <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 fdb-touch rounded">
            <h2 class="text-primary">Professional</h2>
               
            <p class="h3 font-weight-light">Far far away, behind the word mountains, far from.</p>
    
                
    
            <p><a href="https://www.froala.com" class="btn btn-primary mt-4">Voir</a></p>
            </div>
        </div>
    
        <div class="col-12 col-sm-10 col-md-8 col-md-8 m-auto col-lg-4 text-center pt-4 pt-lg-0">
            <div class="fdb-box shadow pb-5 pt-5 pl-3 pr-3 rounded">
            <h2>Business</h2>
                
            <p class="h3 font-weight-light">Wild Question Marks, but the Little Blind Text didn’t listen.</p>
    
                
    
            <p><a href="https://www.froala.com" class="btn btn-outline-primary mt-4">Voir</a></p>
            </div>
        </div>
        </div>
    </div>
    </section>
{% endblock content %}
    